<html>
  <head>
    <title>Demo: Explicit load of a embedded post</title>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="css/nanogallery.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="jquery.nanogallery.min.js"></script>
</head>
  <body>
<div id="nanoGallery2"></div>
    <script>
	$(document).ready(function () {
      $("#nanoGallery2").nanoGallery({
          kind: 'picasa',
          userID: '108074632695418017904'
      });
  });
    </script>
  </body>
</html>
